.main-container {
    font-family: 'Bebas Neue', cursive;
    font-size: larger;
    color: black;
    border: 2px solid green;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  header img {margin-top: 30px;}

  header {
    height: 180px;
    /* background-color: firebrick; */
    display: flex;
    border: 1px solid red;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .box ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding:10px;
  }
  .nav-item {
    margin: 10px;
  }
  main {
    /* height: 100%; */
    flex: 1;
    /* background-color: wheat; */
  }
  main section {
    /* height: 50px;
    background-color: rgb(245, 241, 17); */
    /* height: 1800px; */
  }
  footer {
    height: 100px;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding-right: 30px;
  }

  .copyright {
    color: white;
    margin-right: auto;
    padding-left: 30px;
  }

  .social-item {
    /* height: 40px;
    width: 20px; */
    /* border: 1px solid black; */
    margin: 20px;
    /* padding: 30px; */
  }